<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('getAllPlayers') }}">All players</a>
    <a href="{{ url_for('getTeamPage') }}">Team select</a>
    <a href="{{ url_for('getAdminPage') }}">Admin</a>
    <h1>Teams</h1>

    <form method="POST">
        <select name="teamSelect">
            {% for team in teams %}
                <option value="{{team}}" SELECTED>{{team}}</option>"
            {% endfor %}
        </select>
        <input name="selectButton" type="submit" value="Select">
    </form>

</body>
</html>